<?xml version="1.0"?>
<launch>

	<!-- Arguments -->
  <arg name="camera" default="/camera/rgb"/>

  <!-- Run the stereo image proc -->

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="$(arg camera)/image_rect"/>
    <param name="odom_frame_id" value="/odom"/>
    <param name="base_link_frame_id" value="/base_footprint"/>
  </node>

</launch>
